<form #registerForm="ngForm" (submit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="form-group">
    <input class="form-control" name="username" type="text" required [(ngModel)]="model.username" placeholder="Username" >
  </div>
  <div class="form-group">
    <input class="form-control" name="password" type="password" required [(ngModel)]="model.password" placeholder="Password">
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>